@if (state$ | async; as state) {
  <div
    class="mx-auto flex min-h-[calc(100vh-64px)] max-w-screen-xl flex-col items-center gap-4 px-2 py-10 text-white"
  >
    <div class="absolute top-24 left-6">
      <app-home-button />
    </div>

    @switch (state.view) {
      @case ("gameOver") {
        <div class="flex flex-1 items-center">
          <app-game-over
            [scores]="state.playerScores"
            (returnToLobby)="gameStateService.returnToLobby()"
            (leaveLobby)="gameStateService.leaveLobby()"
          />
        </div>
      }
      @case ("scoreboard") {
        <div class="flex flex-1 items-center">
          <app-scoreboard [scores]="state.playerScores" />
        </div>
      }
      @case ("question") {
        @if (state.currentQuestion) {
          <div class="flex w-full flex-1 items-center justify-center">
            <div class="w-full">
              <app-question-display
                [question]="state.currentQuestion"
                [timeRemaining]="state.timeRemaining"
                [waitingForOthers]="state.waitingForOthers"
                [selectedAnswerIndex]="state.selectedAnswerIndex"
                [lastAnswerResult]="state.lastAnswerResult"
                [isAnswerSubmitted]="state.answerSubmitted"
                (answerSelected)="gameStateService.submitAnswer($event)"
              />
            </div>
          </div>
        }
      }
      @default {
        <app-invite-code />

        <div class="flex w-full flex-grow items-center justify-center">
          <div class="relative w-full">
            <app-users-list
              [users]="state.players"
              [host]="state.roomState.host"
            />
          </div>
        </div>

        @if (state.isHost) {
          <button
            (click)="gameStateService.triggerCountdown()"
            class="flex cursor-pointer items-center gap-2 rounded-lg bg-gradient-to-r from-green-500 to-teal-500 px-8 py-3 text-xl font-semibold transition-all duration-300 hover:scale-105"
          >
            <lucide-angular [img]="Play" class="h-5 w-5" />
            Start
          </button>
        }

        @if (state.view === "countdown") {
          <div
            class="absolute inset-0 z-50 grid place-content-center bg-black/30"
          >
            <div
              class="rounded-lg bg-purple-600 p-6 text-center text-2xl font-bold"
            >
              Game starting in {{ state.startCountdown }}...
            </div>
          </div>
        }
      }
    }
  </div>
}
