.animate-gradient {
  background-size: 200%;
  animation: animateGradient 4s ease infinite;
  animation-play-state: paused;

  &:hover {
    animation-play-state: running;
  }
}

@keyframes animateGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
