<div class="flex w-full flex-col items-center gap-8">
  <div
    class="text-6xl font-bold"
    [ngClass]="{
      'animate-pulse text-red-500': timeRemaining <= 5 && timeRemaining > 0,
    }"
  >
    {{ timeRemaining }}
  </div>

  <h2 class="text-center text-5xl font-bold tracking-wider">
    {{ question.question }}
  </h2>

  <div class="flex w-full flex-1 items-center justify-center">
    <ul class="grid w-full grid-cols-1 gap-4 md:grid-cols-2">
      @for (answer of question.answers; track $index) {
        <button
          class="rounded-xl border border-white/40 bg-black/20 px-12 py-6 text-left transition-transform hover:scale-102 disabled:scale-100 disabled:cursor-not-allowed"
          [ngClass]="{
            'border-purple-500 bg-purple-600/30 ring-2 ring-purple-500':
              !answerSubmitted && $index === selectedAnswerIndex,
            'border-green-500 bg-green-500/30 ring-2 ring-green-500':
              answerSubmitted &&
              $index === selectedAnswerIndex &&
              lastAnswerResult?.correct,
            'border-red-500 bg-red-500/30 ring-2 ring-red-500':
              answerSubmitted &&
              $index === selectedAnswerIndex &&
              lastAnswerResult &&
              !lastAnswerResult.correct,
          }"
          [disabled]="answerSubmitted"
          (click)="onSelectAnswer($index)"
        >
          {{ answer }}
        </button>
      }
    </ul>
  </div>
</div>
