<main class="flex w-full justify-center px-2">
  <div
    class="flex w-full max-w-sm flex-col gap-4 rounded-xl border border-white/40 bg-white/20 px-8 py-4 text-white shadow-2xl"
  >
    <h2 class="text-2xl font-bold">Login</h2>

    @if (errorMessage) {
      <div
        class="w-full rounded bg-red-600 px-2 py-1 text-center text-sm text-white"
      >
        {{ errorMessage }}
      </div>
    }

    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="flex flex-col items-center gap-4"
    >
      <div class="flex w-full flex-col gap-1">
        <label for="username" class="text-neutral-300">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          autocomplete="on"
          placeholder="Enter your username..."
          formControlName="username"
          class="my-2 border-b-2 border-neutral-400 placeholder:text-neutral-400"
        />
      </div>

      <div class="flex w-full flex-col gap-1">
        <label for="password" class="text-neutral-300">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          autocomplete="current-password"
          placeholder="Enter your password..."
          formControlName="password"
          class="my-2 border-b-2 border-neutral-400 placeholder:text-neutral-400"
        />
      </div>

      <button
        type="submit"
        class="w-full cursor-pointer rounded-xl bg-gradient-to-r from-purple-600 to-pink-600 px-6 py-2 text-lg font-bold text-white transition-colors hover:from-purple-500 hover:to-pink-500 disabled:cursor-not-allowed disabled:bg-gray-500"
        [disabled]="form.invalid || loading"
      >
        Login
      </button>
    </form>

    <span class="text-sm text-neutral-400"
      >Don't have an account?
      <a href="/register" class="text-blue-400 underline">Register</a></span
    >
  </div>
</main>
